*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: #f3eae3;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

article{
    width: 560px;
    height: 415px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.left {
    width: 280px;
    overflow: hidden;
}

.left img{
    width: 311px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right{
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 15px;
    
}

.right h3{
    color: #adaeb4;
    margin-top: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 7px;
}

.right h2{
    margin-top: 20px;
    font-size: 35px;
    font-family: "Fraunces", serif;
    line-height: 0.9;
}

.right div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.right p{
    margin-top: 20px;
    color: #83838c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding-right: 20px;
    line-height: 1.6;
}

.right div span:first-child{
    color: #3e8169;
    font-weight: bold;
    font-size: 1.8em;
    font-family: "Fraunces", serif;
}
.prices{
    margin-top: 20px;
    align-self:flex-start;
    gap: 25px;
}

.right div span:last-child{
    color: darkgrey;
    font-size: 0.8em;
    text-decoration: line-through;
}
button{
    background-color: #3e8169;
    margin: 20px 15px 0 0;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: "Fraunces", serif;
}
button i{
    padding-right: 10px;
}